{% extends "layout.html" %}

{% block title %}Edit profile | {{ super }}{% endblock %}

{% block body %}
    <form method="POST" action="{% url 'accounts:profile_edit' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" class="button-primary" value="Update">
</form>
    <div style="text-align: center">
        <a class="button" href="{% url 'accounts:profile_change_password' %}" >Change Password</a>
    </div>
{% endblock %}