{% extends "layout.html" %}
{% load staticfiles %}
{% load account_extras %}

{% block title %}{{user.username|default:'Profile'}}{% endblock %}

{% block body %}
    {% if user.userprofile.picture %}
        <img src="{{user.userprofile.picture.url}}" alt="">
    {% endif %}


    <form method="POST" action="{% url 'accounts:update_profile_pic' profile_pk=user.userprofile.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <input type="submit" class="button-primary" value="Update Picture">
    </form>

    <h3>Username:  {{ user.username }} </h3>
    <h3>First Name:  {{ user.first_name }} </h3>
    <h3>Last Name:  {{ user.last_name }} </h3>
    <h3>Email:  {{ user.email }} </h3>
    <h3>DOB:  {{ user.userprofile.dob|date:"d M Y"}} </h3>
    <h3>Bio:  {{ user.userprofile.bio|markdown_to_html}} </h3>


    <a href="{% url 'accounts:profile_edit' %}">Edit Profile</a>


{% endblock %}